button {
    padding: 8px 16px;
    background-color: rgb(36, 153, 40);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-bottom: 8px;
}
