* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgb(142, 185, 185);
  color: black;
  height: 100vh;
  margin: 16px auto;
  justify-content: center;
}