.login-container {
    max-width: 400px;
    margin: 48px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-direction: column;
    align-items: stretch;
    padding: 16px;
    justify-content: center;
    width: 100%;
}
.login-container img {
    max-width: 100px;
    margin: 0 auto;
}
.login-container h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #4CAF50;
}

.login-container a {
    display: block;
    margin-top: 8px;
    font-size: 0.9em;
    color: #4CAF50;
    text-decoration: none;
}
